.selector-button{
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
display: inline-flex;
background: white;
height: auto;
width:auto;
border: 7px solid white;
border-radius: 5px;
margin-right: 1.75%;
}

.add-skill-box {
margin-left: 15%;
margin-right: 15%;
margin-bottom: 3vw;
height: auto;
width: auto;
border-radius: 15px;
font-size:160%;
color:black;  
}

.add-skill-button {
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
background-color:  rgb(76, 133, 141);
border-radius: 4px;
color: white;
height:auto;
width:auto;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 70%;
padding: 10px;
margin-right: 10px;
}

.add-skill-button:hover{
background: yellow;
border: 2px solid rgb(76, 133, 141);
color:rgb(76, 133, 141);
text-decoration: none;
}

#selcolor{
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
width: 22vw;
background-color: rgb(243, 241, 241);
border: 1px solid rgb(243, 241, 241);;
border-radius: 0;
font-size: 80%;
padding: 3px;
}

@media screen and (max-width: 780px) {
 .toplightblueline {
    margin-top: -3%;
    padding: 6%;
  }

  #selcolor{
    width: 30vw;
  }

  #name {
    margin-left: -73%;
    font-size: 3.3vw;
  }
}