.project-info{
  border: 1px solid white;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  width: 65%;
  margin-top: -4%;
  margin-left: 17.5%;
  position: relative;
  padding-bottom: 3%;
  padding-right: 0;
}

.project-info .requairement-row{
  margin-left: 0%;
  margin-right: 0%;
  border-top: 2px dashed rgb(4, 197, 197);
  border-bottom: 1px solid rgb(219, 217, 217);
}

.requairement-row{
  background-color: rgb(240, 239, 239);
  padding-bottom: 3%;
}

#req{
  margin-right: 1%;
  font-size: 1.5vw;
  color: rgb(1, 146, 146);
}

.input-box { 
  position: relative; 
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#label{
  margin-right: 3%;
}

.price-box{
  display: block; 
  border: 1px solid #d7d6d6; 
  background: #fff; 
  padding: 10px 10px 10px 20px; 
  width: 195px; 
  margin-right: 3%;
  position: relative;
  border: 3px solid rgb(4, 179, 179);
  border-radius: 4px;
  width: 38%;
  text-align: right;
}

.unit { 
  position: absolute; 
  display: block; 
  right: 22vw;
  top: 10px; 
  z-index: 2; 
  color: rgb(4, 179, 179);
}

.send-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(4, 179, 179);
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  margin-right: 3%
}

.send-button:hover {
  background-color: yellow;
  color: black;
}

@media screen and (max-width: 780px) {
  .project-info{
      width: 90%;
      margin-top: -6%;
      margin-left: 5%;
      margin-right: 5%;
  }
  
  .project-info .requairement-row{
      margin-left: 0%;
      margin-right: 0%;
      border-top: 2px dashed rgb(4, 197, 197);
      border-bottom: 1px solid rgb(219, 217, 217);
  }

  #req{
      margin-right: 1%;
      font-size: 120%;
      color: rgb(1, 146, 146);
  }
  
  #label{
      font-weight:bold;
      font-size: 135%;
      margin-right: 3%;
  }
  
  .unit{
    right: 30vw;
  }
}
