.logoimg {
  margin-right: 11%;
  display: block;
  float: right;
  height: 100%;
  width: 10%;
  min-width: 10px;
}

.toplightblueline {
  margin-top: 4.5%;
  padding: 1em;
  margin-bottom: 15px;
  border: 10px solid lightblue;
  background-color: lightblue;
  height: 22em;
  position: relative;
  /* z-index: -1; */
}

.toplightblueline h1{
  margin-right: 11%;
  font-weight:bold;
  color: rgb(3, 129, 129);
  margin-bottom: 1.5%;
  margin-top: 2%;
}

.toplightblueline p{
  margin-right: 14%;
  margin-bottom: 1.5%;
}

@media screen and (max-width: 780px) {
  .logoimg {
    height: 110%;
    width: 15%;
  }

  .toplightblueline {
    margin-top: 8%;
  }

  .toplightblueline h1{
    margin-right: 7%;
  }

  .toplightblueline p{
    margin-right: 10%;
  }

  .input-box {
    margin-left: 15%;
    margin-right: 15%;
  }
}
